.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: whitesmoke ;
    color: #8f4ED3;
    padding: 10px 0px;
    margin-top: 10px;

}
.footer-icon{
    display: flex;
    justify-content: center;
}
.green-clr{
    /* #0c3c32 */
    /* #1CC29F */
    color: #1CC29F;
}
.pruple-clr{
    color: #8f4ED3;
}
.orange-clr{
    /* #A6002F */
    /* #F67240 */
    color:#F67240;
}
.btn-orange-clr{
    background-color: #F67240 !important;
    color: white !important;
    
}
.btn-green-clr{
    background-color: #1CC29F !important;
    color: white !important;
}
.btn-pruple-clr{
    background-color: #8f4ED3 !important;
    color: white !important;
}
.ant-modal-title{
    display: flex;
    justify-content: center;
}
.header{
    background-color: #8f4ED3;
    color: aliceblue;
    padding: 10px 0px;
    align-items: center;
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
    margin: 0px !important;
    padding: 0px;
    cursor: pointer;
}

.ant-card-head-title{
    font-size: 25px;
    color: #1CC29F;
}
/* color green #1CC29F */
/* color pruple #8f4ED3 */


.ant-list-item-meta-avatar{

    align-self: center;
}

.ant-spin-dot-item {
    background-color: #8f4ED3 !important;
  }

a {
    text-decoration: none !important;
}