.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: whitesmoke ;
    color: #8f4ED3;
    padding: 10px 0px;
    margin-top: 10px;

}
.footer-icon{
    display: flex;
    justify-content: center;
}
.green-clr{
    color: #1CC29F;
}
.pruple-clr{
    color: #8f4ED3;
}
.orange-clr{
    color:#F67240;
}
.ant-modal-title{
    display: flex;
    justify-content: center;
}
.header{
    background-color: #8f4ED3;
    color: aliceblue;
    padding: 10px 0px;
    align-items: center;
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
    margin: 0px !important;
    padding: 0px;
    cursor: pointer;
}

.ant-card-head-title{
    font-size: 25px;
    color: #1CC29F;
}
/* color green #1CC29F */
/* color pruple #8f4ED3 */
